@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
  
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

body {
    background-color: var(--rose-50);
    color: var(--rose-900);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--rose-900);
}

h1 {
    font-size: 2.8rem;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    min-height: 100vh;
    padding: 20px;
    margin-top: 6rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.product-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0s;
}

.add-to-cart {
    margin: 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.8rem;
    border-radius: 24px;
    background-color: var(--rose-50);
    color: var(--rose-900);
    border: 1px solid var(--rose-500);
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    top: -2rem;
    left: 0;
    margin: 0 auto;
    z-index: 1;
}

.add-to-cart:hover {
    filter: brightness(0.9);
}

.add-to-cart img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.remove-cart {
    margin: 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.8rem;
    border-radius: 24px;
    background-color: var(--rose-50);
    color: var(--rose-900);
    border: 1px solid var(--rose-500);
    cursor: pointer;
    position: relative;
    left: 0;
    margin: 0 auto;
    z-index: 1;
}

.remove-cart:hover {
    filter: brightness(0.9);
}

.remove-item {
    margin: 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.8rem;
    border-radius: 24px;
    background-color: var(--red);
    color: var(--rose-900);
    border: 0;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    top: -2rem;
    left: 0;
    margin: 0 auto;
    z-index: 0;
    color: var(--rose-50);
    display: none;
}

.remove-item:hover {
    filter: brightness(0.9);
}

.remove-item img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 1px solid var(--rose-50);
    padding: 5px;
    border-radius: 50%;
}

.remove-item img:hover {
    filter: brightness(0.8);
}

.product-info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    top: -1rem;
    left: 0;
}

.product-info h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.2rem;
}

.product-info label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--rose-500);
}

.product-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--red);
    margin-top: 0.5rem;
}

.cart {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    width: 380px;
    background-color: #fff;
    border-radius: 12px;
    padding-bottom: 3rem;
}

.cart h2 {
    font-weight: bold;
    color: var(--red);
    font-size: 1.6rem;
    margin: 8px;
}

.empty-cart img {
    width: 100%;
    height: 140px;
    margin: 0 auto;
    margin-top: 2rem;
}

.empty-cart p {
    font-weight: 600;
    display: block;
    text-align: center;
    color: var(--rose-500);
    font-size: 14px;
}

.cart #itemCount {
    font-size: 1.6rem;
}

.cart-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    gap: 8px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 320px;
    padding: 12px 0;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #e6e6e6;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.cart-item label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--rose-900);
}

.item-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 220px;
}

.item-quantity {
    color: var(--red);
    font-weight: 600;
}

.price-per-unit {
    color: var(--rose-400);
    font-weight: 400;
    margin-left: 1rem;
}

.total-price {
    color: var(--rose-500);
    margin-left: 0.4rem;
}

.cart-item button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--rose-500);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 0;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: var(--rose-100);
}

.cart-sum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
    margin-top: 1rem;
}

.cart-sum div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-sum div:nth-child(1) label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--rose-900);
}

.cart-sum div:nth-child(1) span {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--rose-900);
}

.carbon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 1.2rem;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    background-color: var(--rose-50);
}

.carbon img {
    width: 20px;
    height: 20px;
}

.carbon span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--rose-900);
}

.carbon span b {
    font-weight: 600;
}

.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-top: 1.2rem;
    padding: 1rem;
    width: 100%;
    border-radius: 30px;
    background-color: var(--red);
    cursor: pointer;
    color: #fff;
}

.checkout:hover {
    filter: brightness(0.8);
}

.attribution {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
    padding: 1rem;
    padding-bottom: 4rem;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    position: inherit;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 540px;
    height: auto;
    padding: 8px 24px;
    border-radius: 12px;
    overflow: auto;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8px 12px;
    background-color: var(--rose-50);
    border-radius: 8px;
    width: 100%;
    margin-top: 1.4rem;
}

.list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--rose-100);
    padding: 1rem;
    cursor: pointer;
}

.list .item .item-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list .item .item-img img {
    width: 52px;
    height: 52px;
    border-radius: 4px;
    cursor: pointer;
}

.list .item .details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 1.2rem;
    width: 100%;
    gap: 0.6rem;
}

.list .item .details label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--rose-900);
}

.list .item .details .price {
    font-size: 0.9rem;
    color: var(--rose-500);
    margin-left: 0.4rem;
}

.list .item .details span:nth-child(1) {
    color: var(--red);
    font-weight: 600;
    font-size: 1rem;
}

.total-per-item {
    font-weight: 600;
    color: var(--rose-900);
    margin-right: 0.4rem;
}

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 1.6rem 1.2rem;
}

.modal-header h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--rose-900);
    margin-top: 0.8rem;
}

.modal-header p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--rose-500);
    margin-top: 0.4rem;
}

.total-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.6rem 1.2rem;
    color: var(--rose-900);
}

.total-modal h2 {
    font-size: 1.4rem;
    font-weight: 800;
}

.green-tick {
    width: 100%;
}

.green-tick img {
    width: 48px;
    height: 48px;
}

.modal-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-top: 1.2rem;
    padding: 1rem;
    width: 100%;
    border-radius: 30px;
    background-color: var(--red);
    cursor: pointer;
    color: #fff;
    margin-bottom: 1.2rem;
}

.attribution a {
    color: var(--red);
    font-weight: 400;
    text-decoration: none;
    margin-left: 4px;
}

.attribution a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 375px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    section h1 {
        margin-top: 0;
    }

    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .product {
        width: 100%;
        max-width: 400px;
    }

    .add-to-cart {
        max-width: 400px;
    }

    .add-to-cart img {
        width: 18px;
        height: 18px;
    }

    .attribution {
        font-size: 0.8rem;
        padding: 8px;
        padding-bottom: 2rem;
    }

    .cart {
        width: 100%;
        max-width: 360px;
        margin-top: 2rem;
    }

    .carbon {
        width: 100%;
    }

    .carbon span, b {
        font-size: 0.9rem;
    }

    .cart-item {
        width: 100%;
    }

    .modal-content {
        width: 90%;
        padding: 16px;
    }

    .attribution {
        margin: 0;
        margin-top: 1rem;
    }

    .attribution a {
        font-size: 0.8rem;
    }
}